.container,
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  min-height: 800px;
}

.main {
  flex: 0.98;
  width: 100%;
}
.footer {
  flex: 0.02;
  color: #a9a9a9;
  font-family: "Montserrat";
  padding: 10px 0px;
  font-size: 1.2rem;
}
